{% extends 'base.html' %}

{% block content %}
<h3>Available Charts</h3>
<ul>
    <li>
        <a href="{{ url_for('chart.book_ratings_chart') }}">Book ratings</a>
    </li>
    <li>
        <a href="{{ url_for('chart.user_books_chart') }}">Number of Books Owned by Users</a>
    </li>
        <li>
        <a href="{{ url_for('chart.books_read_chart') }}">Number of Books Read by Users per Year</a>
    </li>
    <li>
        <a href="{{ url_for('chart.genre_books_chart') }}">Books per Genre</a>
    </li>
</li>

</ul>
{% endblock %}