<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Book collection</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Book Collection</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {% if current_user.is_anonymous %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('book.book_list') }}">My Books</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('genre.genre_list') }}">Genres</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('chart.chart_list') }}">Charts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                  </li>
                  {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container">
        {% if current_user.is_authenticated %}
        <p>Logged in as: <b>{{ current_user.username }}</b>.</p>
        {% endif %}
        {% block content %}
        {% endblock %}
        </div>
        <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
    </body>
</html>